build:debug -c opt --copt -g  --cxxopt=-O0 --jobs=15 -std=c++17
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

# --cxxopt=-O3 --jobs=15 -std=c++17
build --strip=never
build --repo_env=CC=clang++
build --cxxopt=-O3
build --cxxopt="-std=c++17"